*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

h1{
    text-align: center;
    font-size: 1.8rem;
    color: #444;
    padding: 25px 0;
}

main{
    width: 90%;
    height: 530px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div{
    width: 30%;
    height: 160px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5% grey;
}

.a{
    background-image: url("images/first.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.b{
    background-image: url("images/second.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.c{
    background-image: url("images/third.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.d{
    background-image: url("images/fourth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.e{
    background-image: url("images/fifth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.f{
    background-image: url("images/six.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.g{
    background-image: url("images/seven.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.h{
    background-image: url("images/eight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.i{
    background-image: url("images/nine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }